<!DOCTYPE html>
<html>
    <head>


    </head>
    <body>
      <% x = params[:number].to_i %>
        <% abc =  x ** 2 %>
        <h1><%= abc %><h1>
        <p>This is a NOT a static url</p>
    </body>
</html>
